.block {
    &__ttl {
        color: $titleColor;
        text-align: center;
        font-weight: bold;
        font-family: $Montserrat;
        font-size: 36px;
        line-height: 1em;
        @include sp {
            font-size: 30px;
        }
        span {
            display: block;
            margin-bottom: $textMargin;
            color: $titleColor;
            font-size: $subttlSize;
            font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif !important;
        }
        &--white {
            color: $white;
            text-align: center;
            font-weight: bold;
            font-family: $Montserrat;
            font-size: 36px;
            line-height: 1em;
            @include sp {
                font-size: 30px;
            }
            span {
                display: block;
                margin-bottom: $textMargin;
                color: $white;
                font-size: $subttlSize;
                font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif !important;
            }
    
        }
    }
    &__txt {
        margin-bottom: $textMargin;
        text-align: center;
    }
    &__img {
        width: 100%;
    }
}
.fv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    width: 100vw;
    height: 150px;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include sp {
        padding: 90px $spPadding 0;
        width: calc(100vw - #{$spPadding} * 2);
        height: 120px;
    }
}
.breadcrumb {
    padding: 15px 0;
    margin-bottom: 60px;
    width: 100vw;
    background-color: $contactColor;
    @include sp {
        padding: 5px 0;
    }
    &__menu {
        display: flex;
        align-items: center;
        margin-left: 165px;
        @include sp {
            margin-left: $spPadding;
        }
    }
    &__list {
        font-size: 12px;
        a {
            font-size: 12px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                opacity: 0.8;
            }
        }
    }
}
.wrap {
    margin: 0 auto 140px;
    width: 100vw;
    @include sp {
        padding: 0 $spPadding;
        margin-bottom: 80px;
        width: calc(100vw - #{$spPadding} * 2);
    }
    &--bg {
        margin: 0 auto 140px;
        width: 100vw;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include sp {
            margin-bottom: 80px;
        }
    }
}
.news {
    &__list {
        display: flex;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: none;
        }
        @include sp {
            margin-bottom: 40px;
        }
    }
    &__link {
        text-decoration: none;
        time {
            font-family: $Montserrat;
        }
        span {
            display: inline-block;
            margin: 0 20px;
            width: 82px;
            background-color: $newsCategoryColor;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            font-family: $Montserrat;
            border-radius: 50px;
        }
        p {
            float: right;
            width: 530px;
            &::after {
                content: "";
                display: block;
                clear: both;
            }
            @include sp {
                display: block;
                float: none;
                width: 100%;
            }
        }
        &:hover {
            text-decoration: underline;
            opacity: 0.7;
        }
    }
}
.contact {
    padding: 80px 0;
    margin: 0 auto;
    width: 100vw;
    background-color: $contactColor;
}
.sp-on {
    display: none;
    @include sp {
        display: block;
    }
}