@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP:wght@400;500;600;700;800;900&family=Oswald&display=swap");
* {
  color: #333333;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}

@media (max-width: 750px) {
  * {
    font-size: 14px;
  }
}

.page__ttl {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.page__ttl span {
  display: block;
  margin: 20px 0 50px;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif !important;
}

@media (max-width: 750px) {
  .page__ttl {
    text-align: left;
    font-size: 40px;
  }
  .page__ttl span {
    margin: 20px 0 30px;
    font-size: 16px;
  }
}

.buttonBase, .contactButton__link, .button__link {
  display: inline-block;
  position: relative;
  padding: 18px 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonAfterBase, .contactButton__link::after, .button__link::after {
  content: "▶︎";
  position: absolute;
  right: 30px;
  font-size: 12px;
}

.contactButton {
  margin: 0 auto;
  width: 220px;
}

@media (max-width: 750px) {
  .contactButton {
    margin-left: 10px;
  }
}

.contactButton__link {
  border: solid 1px #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contactButton__link::after {
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactButton__link:hover {
  opacity: 0.8;
}

.contactButton__link:hover::after {
  right: 20px;
}

.button {
  margin: 0 auto;
  width: 220px;
}

.button__link {
  font-size: 14px;
  background: -webkit-gradient(linear, left top, right top, from(#7633A4), color-stop(50%, #250D65), to(#7633A4));
  background: -webkit-linear-gradient(left, #7633A4, #250D65 50%, #7633A4 100%);
  background: linear-gradient(left, #7633A4, #250D65 50%, #7633A4 100%);
  background-size: 200%;
}

.button__link:hover {
  background-position-x: 100%;
}

.block__ttl, #top .news__ttl, #top .company__ttl {
  color: #391E88;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 1em;
}

@media (max-width: 750px) {
  .block__ttl, #top .news__ttl, #top .company__ttl {
    font-size: 30px;
  }
}

.block__ttl span, #top .news__ttl span, #top .company__ttl span {
  display: block;
  margin-bottom: 26px;
  color: #391E88;
  font-size: 14px;
  font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif !important;
}

.block__txt {
  margin-bottom: 26px;
  text-align: center;
}

.block__img {
  width: 100%;
}

.wrap {
  margin: 0 auto 140px;
  width: 100vw;
}

@media (max-width: 750px) {
  .wrap {
    padding: 0 20px;
    margin-bottom: 80px;
    width: calc(100vw - 20px * 2);
  }
}

.wrap--max {
  margin: 0 auto 140px;
  width: 100vw;
}

.wrap--max:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 750px) {
  .wrap--max {
    margin-bottom: 80px;
  }
}

.scroll {
  position: fixed;
  right: 45px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0  7px gray;
          box-shadow: 0 0  7px gray;
  opacity: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

@media (max-width: 750px) {
  .scroll {
    right: 20px;
    bottom: 20px;
  }
}

.scroll:hover {
  opacity: 0.8;
}

.scroll__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}

.contact {
  padding: 80px 0;
  margin: 0 auto;
  width: 100vw;
  background-color: #f7f7f7;
}

.break {
  display: none;
}

@media (max-width: 750px) {
  .break {
    display: block;
  }
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 30px;
  width: calc(100vw - 60px);
  height: 90px;
}

@media (max-width: 750px) {
  .header {
    padding: 0 20px;
    width: calc(100vw - 20px * 2);
    height: 70px;
  }
}

.header__back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  height: 89px;
  background-color: #21054D;
  opacity: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

@media (max-width: 750px) {
  .header__back {
    height: 70px;
  }
}

.header__ttl a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 750px) {
  .header__ttl a {
    font-size: 18px;
  }
}

.header__hamburger {
  width: 30px;
}

.header__nav {
  width: 40vw;
}

@media (max-width: 750px) {
  .header__nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#642390), to(#19074A));
    background: -webkit-linear-gradient(top, #642390, #19074A);
    background: linear-gradient(top, #642390, #19074A);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 750px) {
  .header__menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 750px) {
  .header__list {
    margin-bottom: 20px;
    text-align: center;
  }
}

.header__link {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.header__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__link:hover::after {
  width: 100%;
}

@media (max-width: 750px) {
  .header__link {
    font-size: 15px;
  }
}

.scroll-in {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*ハンバーガーメニュー*/
.hamburger {
  display: none;
  z-index: 9999;
  border-color: #fff;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
  }
}

.hamburger span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 10px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  z-index: 10;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -19px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  padding: 60px 0;
  width: 100vw;
  background-color: #120E19;
  text-align: center;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 22px;
  width: 33vw;
}

@media (max-width: 750px) {
  .footer__menu {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 20px;
    margin: 0 10px 30px 0;
    width: calc(100vw - 20px * 2);
  }
}

@media (max-width: 750px) {
  .footer__list {
    margin-right: 20px;
  }
}

.footer__link {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.footer__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__link:hover::after {
  width: 100%;
}

@media (max-width: 750px) {
  .footer__link {
    font-size: 12px;
  }
}

.footer__copylight {
  color: #A798B7;
  font-size: 10px;
}

#top .fv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 70px;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 750px) {
  #top .fv {
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 20px 40px;
    width: calc(100vw - 20px * 2);
  }
  #top .fv__ttlArea {
    margin-left: 10px;
  }
}

#top .scrollBar {
  position: absolute;
  right: 30px;
  bottom: 0;
}

@media (max-width: 750px) {
  #top .scrollBar {
    right: 15px;
  }
}

#top .scrollBar__txt {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.2em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

#top .scrollBar__txt::after {
  content: "";
  display: inline-block;
  margin: 0 auto;
  width: 1px;
  height: 80px;
  background-color: #fff;
  -webkit-animation: slide 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: slide 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

#top .news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 917px;
}

@media (max-width: 750px) {
  #top .news {
    display: block;
    width: 100%;
  }
}

#top .news__ttlArea {
  width: 170px;
}

@media (max-width: 750px) {
  #top .news__ttlArea {
    width: 100%;
  }
}

#top .news__ttl {
  text-align: left;
}

@media (max-width: 750px) {
  #top .news__ttl {
    text-align: center;
  }
}

#top .news__ttl span {
  display: block;
  color: #391E88;
  font-size: 14px;
}

#top .news__menu {
  width: 747px;
  overflow: hidden;
}

@media (max-width: 750px) {
  #top .news__menu {
    width: 100%;
  }
}

#top .news__list {
  margin-bottom: 15px;
}

#top .news__list:last-child {
  margin-bottom: none;
}

@media (max-width: 750px) {
  #top .news__list {
    margin-bottom: 40px;
  }
}

#top .news__link {
  text-decoration: none;
}

#top .news__link time {
  font-family: "Montserrat", sans-serif;
}

#top .news__link span {
  display: inline-block;
  margin: 0 20px 7px;
  width: 82px;
  background-color: #E8E8E8;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-radius: 50px;
}

#top .news__link:hover {
  text-decoration: underline;
  opacity: 0.7;
}

#top .service__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1110px;
}

@media (max-width: 750px) {
  #top .service__menu {
    display: block;
    width: 100%;
  }
}

#top .service__list {
  width: 350px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#top .service__list:hover {
  opacity: 0.7;
}

@media (max-width: 750px) {
  #top .service__list {
    width: 100%;
  }
}

#top .service__link {
  text-decoration: none;
}

#top .service__thumbnail {
  margin-bottom: 24px;
  width: 100%;
}

@media (max-width: 750px) {
  #top .service__thumbnail {
    margin-bottom: 14px;
  }
}

#top .service__ttl {
  margin-bottom: 17px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 750px) {
  #top .service__ttl {
    margin-bottom: 10px;
  }
}

#top .service__txt {
  margin-bottom: 26px;
}

@media (max-width: 750px) {
  #top .service__txt {
    margin-bottom: 40px;
  }
}

#top .work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1261px;
}

@media (max-width: 750px) {
  #top .work {
    display: block;
    width: 100%;
  }
}

#top .work__ttlArea {
  padding: 213px 0 219px;
  margin: 0 auto;
  width: 511px;
}

#top .work__ttlArea::after {
  content: "";
  display: block;
  position: absolute;
  left: 424px;
  top: 0;
  z-index: -1;
  width: 837px;
  height: 651px;
  background-color: #f0f0f0;
}

@media (max-width: 750px) {
  #top .work__ttlArea {
    padding: 40px 0 60px;
    width: 100%;
  }
  #top .work__ttlArea::after {
    left: 0;
    top: 115px;
    width: 100vw;
    height: 79%;
  }
}

#top .company {
  position: relative;
  padding: 144px 0 55px;
  margin: 0 auto;
  max-width: 1300px;
  text-align: center;
  background-image: url(../img/bg-circle.png), url(../img/bg-face.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center center, center 144px;
}

@media (max-width: 750px) {
  #top .company {
    padding: 60px 0 80px;
    width: 100vw;
    background-image: url(../img/cirlcles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

#top .company__ttl span {
  margin-bottom: 40px;
}

@media (max-width: 750px) {
  #top .company__ttl span {
    margin-bottom: 30px;
  }
}

#top .company__goal {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 750px) {
  #top .company__goal {
    margin-bottom: 30px;
    font-size: 32px;
  }
}

#top .company__goal span {
  display: block;
  position: absolute;
  bottom: 10px;
  z-index: -10;
  width: 100%;
  height: 12px;
  background-color: #F5F534;
}

@media (max-width: 750px) {
  #top .company__goal span {
    bottom: 10px;
    height: 8px;
  }
  #top .company__goal span:first-child {
    bottom: 68px;
  }
}

#top .recruit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
  max-width: 1110px;
}

@media (max-width: 750px) {
  #top .recruit {
    display: block;
    width: 100vw;
  }
}

#top .recruit__photo {
  width: 665px;
}

@media (max-width: 750px) {
  #top .recruit__photo {
    width: 100%;
  }
}

#top .recruit__ttlArea {
  padding: 69px 0;
  width: 445px;
  background-color: #f7f7f7;
}

@media (max-width: 750px) {
  #top .recruit__ttlArea {
    width: 100%;
  }
}

.slider {
  margin-top: 60px;
  width: 750px;
}

@media (max-width: 750px) {
  .slider {
    margin: 0 auto;
    width: calc(100% - 20px * 2);
  }
}

.slider__list {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__list:hover {
  opacity: 0.7;
}

.slick-dots {
  right: 0 !important;
  bottom: 30px !important;
  width: 48px !important;
}

@media (max-width: 750px) {
  .slick-dots {
    bottom: -25px !important;
  }
}

.slick-dots li {
  margin: 0 4px !important;
  width: 8px !important;
}

.slick-dots li button {
  width: 100% !important;
}

.slick-dots li button::before {
  width: 100% !important;
  font-size: 8px !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 10 !important;
}

.slick-next {
  right: 25px !important;
}

.slick-prev:before,
.slick-next:before {
  color: #333333 !important;
  font-size: 30px !important;
}

@media (max-width: 750px) {
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
}

.prev_icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  z-index: 1;
}

.prev_icon:hover {
  cursor: pointer;
}

.next_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  z-index: 1;
}

.next_icon:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */